<html lang="pl">
@model Bargain.Application.ViewModels.Item.ListItemToListForSingleTypeVm
@{
    ViewData["Title"] = "Okazje dla kategorii";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="@Url.Content("~/css/Home/IndexStyle.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/css/Home/ListOfItemForSingleTypeStyle.css")" rel="stylesheet" type="text/css"/>

</head>

<form asp-action="ListOfItemForSingleType" asp-controller="Home" method="post">
<body>
    <div id="main">
            <div class="container" id="type-part">
                <img src="~/img/@Model.TypeIconFile" id="type-icon"/>
                &nbsp &nbsp
                <span id="type-name"> Promocje @Model.TypeName </span>
            </div>
            @foreach (var item in Model.Items)
            {
                <div class="container my-3 bargain-part">
                    <div class="row g-1 g-sm-2">
                            <div class="col-3 col-md-3">
                            <div class="bargaingraphic-part mx-0">
                                <a asp-controller="Item" asp-action="DetailedItem" asp-route-id="@item.Id">
                                    <img src="~/Uploads/@item.Photo.FileName" class="d-block mx-auto" asp-append-version="true"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-9 m-0">
                            <div class="row mb-0 bargainshop-part">
                                <span class="bargain-shop py-1 px-2">
                                    @Html.DisplayFor(modelItem => item.Shop)
                                </span>
                            </div>
                            <div class="row bargaintitle-part">
                                <span class="bargain-title">
                                        <a asp-controller="Item" asp-action="DetailedItem" asp-route-id="@item.Id" class="detailed-item-link" style="text-decoration: none;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </span>
                                 </div>
                            <div class="row">
                                <div class="col-7 col-sm-8 my-1 price-part row">
                                    <div class="col-auto barginprice-part">
                                        <span class=" bargain-bargainprice">
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </span>
                                    </div>

                                    <div class="col-auto px-0 deliveryprice-part">
                                        @if (item.DeliveryPrice != null)
                                        {
                                            @if (item.DeliveryPrice == 0)
                                            {
                                                        <span class="bargain-deliveryprice">
                                                            <i class="bi bi-truck"></i>
                                                            Darmowa
                                                        </span>
                                            }
                                            else
                                            {
                                                        <span class="bargain-deliveryprice">
                                                        <i class="bi bi-truck"></i>
                                                    @Html.DisplayFor(modelItem => item.DeliveryPrice)
                                                        </span>
                                            } 
                                        }
                                    </div>
                                    @if (item.EarlierPrice != null)
                                    {
                                            <div class="px-3 earlierprice-part">
                                                <span class="bargain-earlierprice">
                                                @Html.DisplayFor(modelItem => item.EarlierPrice)
                                                </span>
                                            </div>
                                    }
                                </div>
                                <div class="col-3 col-sm-4 my-2 bargainrating-part">
                                     <div class="row bargainrating-base">
                                        <div class="col-3 bargainrating-dislike p-0">
                                            <button class="bargainrating-dislikebutton">
                                                <i class="bi bi-hand-thumbs-down"></i>
                                            </button>
                                        </div>
                                        <div class="col-6 bargainrating-rating">
                                            @Html.DisplayFor(modelItem => item.RatingValue)
                                        </div>
                                        <div class="col-3 bargainrating-like p-0">
                                            <button class="bargainrating-likebutton">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                            </button>
                                        </div>
                                     </div>
                                </div>
                            </div>

                            <div class="mx-2 my-1 d-none d-md-flex bargaindescription-part">
                                <span class="bargain-bargaindescription">
                                    @Html.DisplayFor(modelItem => item.ShortDescription)
                                </span>
                            </div>
                            <div class="m-2 d-none d-md-flex bargainlink-part">
                                <a href="@item.Url" style="text-decoration:none" target="_blank">
                                    <div class="link-button p-1">
                                        <span class="link-text">
                                            Przejdź do okazji
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row d-md-none">
                        <div class="col-12 m-1 bargaindescription-part">
                            <span class="bargain-bargaindescription">
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                             </span>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-12 m-1 my-2 d-md-none bargainlink-part-bottom">
                            <a href="@item.Url" style="text-decoration:none" target="_blank">
                                <div class="link-button p-1">
                                    <span class="link-text">
                                        Przejdź do okazji
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }

        <div id="pagination-part">
            <ul class="pagination">
                <li class="page-item">
                        <a class="page-link" href="javascript:PagerClick(@Model.CurrentPage-1, @Model.TypeId)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only"></span>
                        </a>
                </li>
                    @for (int i = 1; i <= Math.Ceiling((double)Model.Count / Model.PageSize); i++)
                    {
                        if (i != Model.CurrentPage)
                        {
                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i, @Model.TypeId)">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" id="pagination-current-page">@i</a></li>
                        }
                    }
                <li class="page-item">
                    <a class="page-link" href="javascript:PagerClick(@Model.CurrentPage+1, @Model.TypeId)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only"></span>
                    </a>
                </li>
            </ul>
        </div>
        <input type="hidden" name="typeid" id="typeid"/>
        <input type="hidden" name="pageNo" id="pageNo"/>
        <input type="hidden" name="pageSize" id="pageSize" value="10"/>
    </div>
</body>
</form>
</html>
@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index, typeId)
        {
            document.getElementById("pageNo").value = index;
                document.getElementById("typeid").value = typeId;
            document.forms[0].submit();
        }
    </script>
}