@model Bargain.Application.ViewModels.Item.ListItemToListVm

@{
    ViewData["Title"] = "AllItems";
}
<head>
    <link href="@Url.Content("~/css/Item/AllItemsStyle.css")" rel="stylesheet" type="text/css"/> 
</head>

<body>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <div class="container" id="main">
            @foreach (var item in Model.Items)
            {
            <a href="##############" style="text-decoration:none">
            <div class="row" id="bargain-part">
                <div class="col" id="bargain-graphic-part">
                    <div id="bargain-graphic">
                        <img src="~/Uploads/@item.Photo.FileName" class="bargain-img" asp-append-version="true" />
                    </div>
                </div>
                <div class="col">
                    <div class="row" id="bargain-shop-to-right">
                        <div id="bargain-shop-part">
                        @Html.DisplayFor(modelItem => item.Shop)
                        </div>
                    </div>            
                    <div id="bargain-name-part">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="row">
                        <div class="col-6" id="bargain-price-part">
                            <div class="row">
                                <div class="col-auto" id="bargain-current-price-part">
                                    @Html.DisplayFor(modelItem => item.Price) 
                                 </div>
                                 <div class="col-auto" id="bargain-delivery-price-part">
                                     @if(item.DeliveryPrice != null)
                                     {
                                         <img src="~/Images/delivery0.png" class="delivery-img"/>
                                         @Html.DisplayFor(modelItem => item.DeliveryPrice)
                                     }
                                </div>     
                            </div>
                            <div id="bargain-earlier-price-part">
                                @if (item.EarlierPrice != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.EarlierPrice)
                                    }
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row" id="bargain-rating-part">
                                <div class="col">
                                    <button class="dislike-button" onclick="parent.location='additem'"><img src="~/Images/dislike0.png" class="dislike"/></button>       
                                </div>
                                <div class="col" id="bargain-rating-value">
                                    9
                                </div>
                                <div class="col">
                                    <button class="like-button" onclick="parent.location='additem'"><img src="~/Images/like0.png" class="like"/></button>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10" id="bargain-description-part">
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                        </div>
                        <div class="col-2">
                            <button class="url-button" onClick="parent.open('@item.Url')" ><img src="~/Images/url0.png" class="url"/></button>  
                        </div>
                    </div>
                </div>
            </div>
             </a>
             }
        </div>
    </tbody>
</table>
</body>